<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>给排水厂站工程智能估算</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropzone.css') }}">
</head>
<body>

<div class="dropzone" id="dropzone">
    <div id="progressBar"></div>
    <div id="progressLabel" style="white-space: pre-wrap;">请将水厂构筑物一览表拖入这里，或点击选择文件上传</div>
    <input type="file" id="fileInput" class="hidden" multiple>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/estimation_water.js') }}"></script>

</body>
</html> 